*{
  background: linear-gradient(180deg,#bbf1f9 0%, #d6eeef 200%);
  color: rgb(0, 0, 0);
 font-family: "Garamond", serif;
}
  #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
.container{
  display: flex;
}
.name{
font-size: 80px;
}
.bio{
  font-size: 32px;
  color: rgb(190, 167, 15);
   display: inline-block;
  overflow: hidden;
  white-space: nowrap;
  border-right: 3px solid; /* optional cursor effect */
  animation: typing 4s steps(30, end), blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  50% { border-color: transparent }
}



@media (max-width: 600px) {
.container .image{
height: 500px;
width: 500px;
justify-content: center;
align-items: center;
justify-items: center;
margin-left: 20%;
}
}
@media (max-width: 600px) {
    .name{
        margin-left: 6%;
    }
.container {
display: flex;
flex-direction: column;
align-items: center;
}
 .bio{
        margin-left: 6%;
    }
}