.img #image{
    height: 300px;
    width: 330px;
    border-radius: 10%;
     display: flex;
     flex-wrap: wrap; 
     justify-content: center; 
     gap: 20px;
}
.service_container{
    display: flex;
    flex-wrap: wrap;
  margin-left: 5%;
}
.service_container{
  gap: 7%;
  justify-items: center;
}

.img{
  width: 100%;
  max-width: 300px;
}

.img #image{
  width: 100%;
  height: 210px;
  border-radius: 10%;
  object-fit: contain;
}
